<div>
  <h2>Edit the vinyl for <%= @vinyl.title %>:</h2>
  <%= simple_form_for(@vinyl) do |f| %>
    <%= f.input :title %>
    <%= f.input :condition %>
    <%= f.input :artist %>
    <%= f.submit %>
  <% end %>
</div>