<div class="index-background">
  <span class="index-title">
    <% if @vinyls.count > 2 || @vinyls.count == 0 %>
      <h1><%= @vinyls.count%> vinyls available</h1>
    <% else %>
      <h1>1 vinyl available</h1>
    <% end %>
  </span>
  <div class="index-form d-flex">
    <div class="index-input d-flex">
      <%= form_with url: vinyls_path, method: :get, class: "d-flex", local: true do%>
      <div>
        <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Find by title or artist" %>
      </div>
      <div class="index-submit">
        <%= submit_tag "Search", class: "btn btn-primary" %>
      </div>
    </div>
    <% end %>
  </div>
  <div class="cards">
    <% @vinyls.each do |vinyl| %>
    <%= link_to vinyl_path(vinyl) do %>
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <div class="card-index">
            <div class="card-image">
              <%= image_tag vinyl.cover, alt: "alttext", class: 'card-image'%>
            </div>
          </div>
        </div>
        <div class="flip-card-back">
          <div class="flip-card-text">
            <h1><%= vinyl.title.truncate(28) %></h1>
            <p><%= vinyl.artist %></p>
          </div>
        </div>
      </div>
    </div>
    <% end %>
    <% end %>
  </div>
</div>
