<div>
  <h1><%= @vinyl.title %></h1>
  <p><%= @vinyl.artist %></p>
  <p><%= @vinyl.genre %></p>
</div>
<%= simple_form_for [@vinyl, @rental] do |f| %>
  <%= f.input :price %>
  <%= f.input :start_date, as: :date, html5: true %>
  <%= f.input :end_date, as: :date, html5: true %>
  <%= f.submit %>
<% end %>