<div>
<%# vinyl details %>
<h1><%= @vinyl.title %></h1>
<p><%= @vinyl.artist %></p>
<p><%= @vinyl.genre %></p>
<%= image_tag @vinyl.cover_medium %>
<%# modify the vinyl %>
<p><%= link_to "Edit", edit_vinyl_path(@vinyl) %></p>
<p><%= link_to "Delete", vinyl_path(@vinyl), method: :delete, data: { confirm: "Delete #{@vinyl.title}?" } %></p>
</div>
