<div class="peach">
  <h2>Welcome back, <%= current_user.nickname %>!</h2>

  <div class="grid-container" >
    <%# Rentals box %>
    <div class="grid-item">
      <div class="grid-text">
        <h3>Rentals</h3>
        <ul>
          <% @rentals.each do |rental|  %>
            <li class="grid-card">
							<div class="album-cover">
								<%= link_to vinyl_path(rental.vinyl) do %>
									<%= image_tag rental.vinyl.cover_small %>
								<% end %>
							</div>
							<div class="album-details">
								<%= link_to vinyl_path(rental.vinyl) do %>
									<%= rental.vinyl.title %>
								<% end %>
							</div>
            </li>
          <% end %>
        </ul>
      </div>
    </div>

    <%# Pending Confirmations Box %>
    <div class="grid-item">
      <div class="grid-text">
        <h3>Pending Confirmations</h3>
        <ul>
          <% @pending_confirmations.each do |rental|  %>
            <li class="grid-card">
							<div class="album-cover">
								<%= link_to vinyl_path(rental.vinyl) do %>
									<%= image_tag rental.vinyl.cover_small %>
								<% end %>
							</div>
							<div class="album-details">
								<p>
									<%= link_to vinyl_path(rental.vinyl) do %>
										<p><%= rental.vinyl.title %></p>
								<p>Requested for: <%= rental.start_date %> to <%= rental.end_date %></p>
									<% end %>
								</p>
							</div>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
		
    <%# Pending Rentals box %>
    <div class="grid-item">
      <div class="grid-text">
        <h3>Pending Rentals</h3>
        <ul>
          <% @pending_rentals.each do |rental|  %>
            <li class="grid-card">
						<div class="album-cover">
              <%= link_to vinyl_path(rental.vinyl) do %>
                <%= image_tag rental.vinyl.cover_small %>
              <% end %>
						</div>
						<div class="album-details">
							<%= link_to vinyl_path(rental.vinyl) do %>
                <p><%= rental.vinyl.title %> owned by <%= rental.vinyl.user.nickname %></p>
								<p>Requested for: <%= rental.start_date %> to <%= rental.end_date %></p>
              <% end %>
						</div>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
    <%# Collection box %>
    <div id="collection">
      <div class="grid-text">
        <h3>My Collection</h3>
					<ul>
						<% @collection.each do |vinyl|  %>
							<li class="grid-card">
								<div class="album-cover">
									<%= link_to vinyl_path(vinyl) do %>
										<%= image_tag vinyl.cover_small %>
									<% end %>
								</div>
								<div class="album-details">
									<%= link_to vinyl_path(vinyl) do %>
										<%= vinyl.title %>
									<% end %>
								</div>
							</li>
						<% end %>
					</ul>
      </div>
    </div>
</div>
