<div class="peach">
	<h1>Welcome back, <%= current_user.email %>!</h1>

	<div class="grid-container" >
		<%# Collection box %>
		<div class="grid-item item1">
			<h2>My Collection</h2>
			<ul>
			<% @collection.each do |vinyl|  %>
				<li>
				<%= link_to vinyl_path(vinyl) do %>
					<%= image_tag vinyl.cover, alt: "alttext" %>
					<% end %>
					<%= link_to vinyl.title, vinyl_path(vinyl) %>
				</li>
			<% end %>
			</ul>
		</div>

		<%# Rentals box %>
		<div class="grid-item item2">
			<h2>Rentals</h2>
			<ul>
				<% @rentals.each do |rental|  %>
					<li>
					<%= link_to vinyl_path(rental.vinyl) do %>
						<%= image_tag rental.vinyl.cover, alt: "alttext" %>
					<% end %> 
					<%= link_to rental.vinyl.title, vinyl_path(rental.vinyl) %>
					</li>
				<% end %>
			</ul>
		</div>

		<%# Pending Confirmations Box %>
		<div class="grid-item item3">
			<h2>Pending Confirmations</h2>
			<ul>
				<% @pending_confirmations.each do |rental|  %>
					<li>
						<%= link_to vinyl_path(rental.vinyl) do %>
							<%= image_tag rental.vinyl.cover, alt: "alttext" %>
						<% end %>
						<%= link_to rental.vinyl.title, vinyl_path(rental.vinyl) %>
					</li>
				<% end %>
			</ul>
		</div>


		<%# Pending Rentals box %>
		<div class="grid-item item4">
			<h2>Pending Rentals</h2>
			<ul>
				<% @pending_rentals.each do |rental|  %>
					<li>
						<%= link_to vinyl_path(rental.vinyl) do %>
							<%= image_tag rental.vinyl.cover, alt: "alttext" %>
						<% end %>
						<%= link_to rental.vinyl.title, vinyl_path(rental.vinyl) %></li>
				<% end %>
			</ul>
		</div>
	</div>
</div>
